<div class="profile-item">
       <div class="btn-item" (click)="loadDialog('password')">Update Password </div>
</div>

<div class="profile-item">
       Address <div class="address-item">{{profile.address}}</div>
       <div class="btn-item" (click)="loadDialog('address')">Update Address </div>
</div>


<div class="profile-item">
    Height <div class="address-item">{{profile.height}}</div>
    <div class="btn-item" (click)="loadDialog('height')">Update Height </div>
</div>

<div class="profile-item">
    Weight(lbs) <div class="address-item">{{profile.weight}}</div>
    <div class="btn-item" (click)="loadDialog('weight')">Update Weight </div>
</div>

<div class="profile-item">
     Age <div class="address-item">{{profile.age}}</div>
    <div class="btn-item" (click)="loadDialog('age')">Update Age </div>
</div>


<div class="profile-item">
    Your Workout plan <div class="address-item">{{profile.subscription}}</div>
   
</div>
